<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title> Base de Dados </title>
    </head>
    <body>
        {% if cursor %}
            <p> Ação executada com sucesso!</p>
        {% else %}
            <p> Erro: ao obter dados da base de dados!</p>
        {% endif %}
        <a href="/"><button>VOLTAR PARA A PÁGINA PRINCIPAL</button></a>
    </body>
</html>
<style>
    body{
        background: rgb(169, 214, 214);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    button{
        border-radius: 5px;
        background-color: rgb(60, 155, 155);
        color: rgb(255, 255, 255);
    }

</style>